body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 62, 112);
    margin: 0;
    padding: 0;
}

a {
    color: slategrey;
}

a:hover {
    color:blueviolet
}

a:visited {
    color: slategrey;
}

#content {
    width: 60%;
    margin: auto;
    border: 1px solid #000000;
}
#banner {
    background-color:rgb(77, 0, 150);;
    text-align: center;
    border: 1px solid #000000;
    margin: 10px;
}
#blogpost {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    background-color:rgb(77, 0, 150);;
    height: 475px;
}

#blogpost2 {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    background-color:rgb(77, 0, 150);;
    height: 380px;
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    background-color:rgb(77, 0, 150);;
    height: 200px;
}

.postwhy {
    margin: 50px;
    padding: 10px;
    border: 1px solid #000000;
    background-color:rgb(77, 0, 150);;
    height: 130px;
    width: 1068px;
    margin-left: 11px;
}


.post1 {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    background-color:rgb(77, 0, 150);;
    height: 150px;
}

.post2 {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    background-color:rgb(77, 0, 150);;
    height: 250px;
}

.post2 .left {
    float: left;
    margin-right: 10px;
}

.post2 img {
    width: 300px;
}

.gallery {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    background-color:rgb(77, 0, 150);;
    height: 1370px;
}


.gallery img {
    width: 500px;
}